body {
    background-color: #d6e0fe;
    overflow: hidden;
    background-attachment: fixed;
}

.row{
    width: 720px;
}

.cadre{
    margin-top: 5%;
    width: 800px;
    margin-left: auto;
}

.add {
    text-align: center;
    margin-left: 40%;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    background-color: #96bef7;
    margin-top: -2%;
    z-index: 2;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
}

.titre {
    background-color: #96bef7;
    padding-left: 28%;
    padding-bottom: 2px;
}

.liste {
    margin-top: 20px;
    /* margin-bottom: -13px; */
    margin-bottom: 25px;
    padding-top: 15px;
    overflow-y: scroll;
    height: 400px;
    background: inherit;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.edit{
    width: 70px;
    margin-left: -8px;
    margin-top: -8px;
}

.modal-header {
    background-color: #96bef7;
}

.modal-footer {
    background-color: #96bef7;
}

.deco .left {
    z-index: -1;
    position: absolute;
    top: 39px;
    left: 72%;
    height: 655px;
}

.deco .right {
    z-index: -1;
    position: absolute;
    top: 45%;
    left: -11%;
    height: 655px;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: #96bef7; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #96bef7; 
  }